<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
<head>
<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1" />
<meta name="description" content="" />
<meta name="author" content="" />
<title>New Page</title>
</head>
<body>
	<div layout:fragment="content">
		<h1 th:if="${page.id == null}">New Page</h1>
		<h1 th:if="${page.id != null}">Edit Page</h1>
		<hr />
		<form th:action="@{/pages}" th:method="@{${page.id == null} ? 'post' : 'put'}"
			th:object="${page}">
			<input type="hidden" th:field="*{id}" /> 
			
				<div class="form-group"> 
					<label for="page_id">Page_id</label>  
					<input id="page_id" name="page_id" type="text" class="form-control" th:field="*{page_id}" />  
				</div> 

			<button type="submit" class="btn btn-success">Save</button>
			<a th:href="@{/pages}" class="btn btn-default">Back</a>
		</form>
	</div>
</body>
</html>